.app {
    text-align: center;
}

.app-logo {
    height: 75px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: app-logo-spin infinite 20s linear;
    }
}

.app-header {
    background-color: #282c34;
    position: relative;
    height: 80px;
    display: flex;
    font-size: 14pt;
    color: white;
}

.app-content {
    background-color: #eee;
    height: calc(100% - 80px);
    font-size: 14pt;
    color: black;
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
